{% extends 'app/base.html' %}
{% load static %}
{% block title %}Customer Registration{% endblock title %}
{% block main-content %}

<div class="container" style="margin-top: 90px;">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3" style="color: #ccc;">
            <h4 class="text-center dark-header">Password Changed Successfully</h4>
            <div class="text-center pt-3"  >
                <iframe src="{% static 'app/images/CheckMark2.gif' %}" width="500" height="500"  frameborder="0" class="giphy-embed" allowfullscreen></iframe>
                <!-- <video width="200" height="200" loop src="{% static 'app/images/CheckMark.mp4' %}"></video> -->
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}